<%-include('../partials/header')%>

<div class="container mt-3">
  <div class="jumbotron text-center">
      <div class="container">
            <h2>Welcome to Book Addicts!</h2>
             <h5>A book worm's paradise.</h5>
             <p>Find the rarest ones here. Stay hooked.</p>
          <p>
            <a class="btn btn-dark btn-lg"href="/add_books">Add new book</a>
          </p>
      </div>
  </div>
  
  <div class="row text-center">
     <% campgrounds.forEach((campground)=>{ %> 
        <div class="col-lg-4 col-md-4 col-xs-6">
           <div class="img-thumbnail " >
             <img src="<%= campground.image %>" style="width: 100%" > 
             <div class="caption">
              <h4><%=  campground.name %></h4>
          </div>
          <a href="/books/<%=campground._id%>" class="btn btn-info btn-sm">more info</a> 
          </div>
        </div> 
       <% }) %>
     </div>
  
  </div>
<%-include('../partials/footer')%>>